global
    log 127.0.0.1   local0
    log 127.0.0.1   local1 debug
    #log loghost    local0 info
    maxconn 4096
    #chroot /usr/share/haproxy
    #daemon
    #debug
    #quiet

  defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    maxconn 2000
    timeout connect      5000
    timeout client      50000
    timeout server      50000

  frontend localnodes
    bind *:8002
    mode http

    # for anything in the static asset bucket we want to ensure that it is cached for a long time
    # except for the version manifest which lists what is the current version in production
    http-request set-var(txn.path) path 
    http-response set-header Cache-Control "max-age=2592000" if { var(txn.path) -m reg version.json }

    default_backend nodes

  backend nodes
    mode http
    balance roundrobin
    option forwardfor
    
    http-request set-path %[path,regsub(^\/static-assets\/,/,g)]
    http-request set-path %[path,regsub(^\/static-assets$,/,g)]
   
 #  http-request set-header host python
    server server1 python:8000 || 127.0.0.1:8000 
